body
{
	margin: auto;
	text-align: center;
	margin: 0.5em;
	background-color: #162b32;
	color: white;
	min-height: 60em;
}

hr
{
	margin-top: 5em;
	margin-bottom: 5em;
}

p
{
	padding: 2em;
}

a
{
	display: block;
	padding: 2em;
	color: #4D86CA;
}

table
{
	width: 70vw;
}

table, th, td
{
	margin: auto;
	border: 1px solid white;
	border-collapse: collapse;
	max-width: 5in;
}

th, td
{
	padding: 0.3em;
}

.BL
{
	background-color: hsla(120, 78%, 40%, 0.6);
	max-width: 5in;
	margin: auto;
	margin-top: 0.5em;
}

.HL
{
	background-color: hsla(355, 78%, 59%, 0.6);
	max-width: 5in;
	margin: auto;
	margin-top: 0.5em;
}

.U
{
	background-color: hsla(196, 78%, 59%, 0.6);
	max-width: 5in;
	margin: auto;
	margin-top: 0.5em;
}

.R
{
	background-color: hsla(0, 0%, 62%, 0.6);
	max-width: 5in;
	margin: auto;
	margin-top: 0.5em;
}

.back
{
	display: block;
	padding: 0.4em;
	background-color: #d04336;
	color: #162b32;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0.5em;
	border-radius: 12px;
}

.back:active
{
	display: block;
	padding: 0.4em;
	background-color: #a53127;
	color: #162b32;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0.5em;
	border-radius: 12px;
}

.button
{
	display: block;
	margin: auto;
	width: 70vw;
	padding: 0.6em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #d04336;
	color: #162b32;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 12px;
	max-width: 5in;
}

.button:active
{
	display: block;
	margin: auto;
	width: 70vw;
	padding: 0.6em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #a53127;
	color: #162b32;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 12px;
	max-width: 5in;
}
